.catalog-background {
  /* width */
  display: flex;
  justify-content: center;
  background-color: white;
}
.catalogTitle {
  padding: 0.5rem;
  text-align: center;
  text-decoration: underline;
}
.catalog {
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;

  max-width: 70vw;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.catalog a {
  text-decoration: none;
  color: black;
}
.catalog a:visited {
  color: black;
}
.catalog-text {
  letter-spacing: 2px;
  font-size: 3rem;
  align-self: center;
}
