.login-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.register-card {
  border-radius: 30px;
  box-shadow: 0 1px 2px 0 rgba(53, 27, 138, 0.609),
    0 2px 6px 1px rgba(17, 15, 117, 0.294);
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  width: 30vw;
  height: 55vw;
  min-height: 500px;
  min-width: 350px;
  margin-top: 100px;
  padding: 35px;
  font-weight: 300;
}
.login-card {
  border-radius: 30px;
  box-shadow: 0 1px 2px 0 rgba(53, 27, 138, 0.609),
    0 2px 6px 1px rgba(17, 15, 117, 0.294);
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  width: 30vw;
  height: 40vw;
  min-height: 400px;
  min-width: 350px;
  margin-top: 100px;
  padding: 35px;
  font-weight: 300;
}
.card button {
  font-weight: 700;
  border-color: rgb(190, 203, 246);
  width: fit-content;
  height: fit-content;
  align-self: center;
  font-size: 1.2rem;
  background-color: rgb(255, 250, 255);
  color: rgb(95, 38, 251);
}
.login-card button:hover {
  color: rgb(255, 209, 135);
  background-color: rgb(33, 10, 97);
}
.card .register-button:hover {
  color: rgb(145, 255, 130);
  background-color: rgb(33, 10, 97);
}
.card p {
  margin-top: 10px;
  margin-bottom: 10px;
}
.card h1 {
  font-size: 2.5rem;
  font-weight: 300;
}
.card input {
  border-color: rgba(255, 232, 217, 0);
  box-shadow: 0 1px 4px 0 rgba(53, 27, 138, 0.376),
    0 2px 6px 0.5px rgba(17, 15, 117, 0.294);
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2rem;
}
.login-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.back-button:hover {
  color: rgb(245, 192, 48);
  background-color: rgb(33, 10, 97) !important;
}
.acc-main-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.login-register-error {
  box-shadow: 0 1px 1px 0 rgb(255, 30, 0),
    0 2px 10px 0.5px rgba(255, 12, 12, 0.294) !important;
}
form h3 {
  font-size: 0.8rem;
  color: red;
}
@media (min-width: 768px) {
  .register-card {
    height: 500px;
  }
  .login-card {
    height: 500px;
  }
}
