.productCard {
  transition: ease 0.25s;
  padding: 0.5rem;
  margin: 1.7rem;
  background-color: #f5f6f6;
  list-style-type: none;
  border-radius: 12.5px;
  box-shadow: 0 1px 4px 0 rgba(53, 27, 138, 0.376),
    0 2px 6px 0.5px rgba(17, 15, 117, 0.294);
  display: flex;
  flex-direction: column;
  align-items: left;
}
.productCard:hover {
  padding: 0.7rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  box-shadow: 0 1px 5px 0 rgba(53, 27, 138, 0.609),
    0 2px 6px 1px rgba(84, 83, 186, 0.294);
  transform: scale(1.02);
}

.productCardItem {
  padding-top: 0.4rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  padding-bottom: 0.4rem;

  /* font-family: sans-serif; */
  font-size: larger;
  font-weight: bolder;
  text-shadow: aqua;
}
.cardImage {
  width: 300px;
}
@media (max-width: 950px) {
  .cardImage {
    width: 200px;
  }
}
