.productCard {
  transition: all .25s;
  padding: 0.5rem;
  margin: 0.5rem;
  
  background-color: #f5f6f6;
  list-style-type: none;
  border-radius: 12.5px;
  box-shadow: 0 1px 1.5px 0 rgba(140, 138, 147, 0.609),
    0 2px 4px 1px rgba(17, 15, 117, 0.294);
  display: flex;
  flex-direction: column;
  align-items: left;
}
.productCard:hover{
  padding: .7rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  box-shadow: 0 1px 2px 0 rgba(53, 27, 138, 0.609),
  0 2px 6px 1px rgba(84, 83, 186, 0.294);
  
}

.productCardItem{
  padding-top: .4rem;
  padding-left: .2rem;
  padding-right: .2rem;
  padding-bottom: .4rem;

  /* font-family: sans-serif; */
  font-size: larger;
  font-weight: bolder;
  text-shadow: aqua;

}
